@import 'variables';

* {
  margin: 0;
  padding: 0;
}

body {
  background: $light-gray;
}

:focus {
  outline-color: $blue;
  outline-style: solid;
  outline-width: 3px;
}

.no-js {
  display: none !important;
}
